# Load inital libraries and data

In [1]:
import pandas as pd

In [2]:
#Load original CSV
file_to_load = "../Resources/Code_Violations.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

# Data Exploration and Cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712998 entries, 0 to 712997
Data columns (total 18 columns):
Service Request ID             712998 non-null int64
Service Request                712998 non-null object
Str Num                        692502 non-null float64
Str Prefix                     104633 non-null object
Str Nam                        712987 non-null object
Str Suffix                     690457 non-null object
Zone                           694663 non-null float64
Department                     712998 non-null object
Nuisance                       526412 non-null object
Status                         712998 non-null object
Created                        712998 non-null object
Completed Date                 541760 non-null object
Method Received Description    712998 non-null object
X_Value                        712984 non-null float64
Y_Value                        712984 non-null float64
Type                           712998 non-null object
Location                       692497 non-null object
Updated                        712998 non-null object
dtypes: float64(4), int64(1), object(13)
memory usage: 97.9+ MB

In [4]:
df.head()

,Service Request ID,Service Request,Str Num,Str Prefix,Str Nam,Str Suffix,Zone,Department,Nuisance,Status,Created,Completed Date,Method Received Description,X_Value,Y_Value,Type,Location,Updated
0,1114349086,14-00055979,3500.0,NaN,FRIO,DR,75216.0,Code Compliance District Group,Illegal Dumping - CCS,CLOSED,02/20/2014 12:11:00 PM,03/04/2014 10:31:00 AM,Phone,2489854.801,6942969.656,Nuisance,"3500 FRIO DR\nDallas, TX 75216",03/04/2014 10:31:00 AM
1,1112342304,14-00023976,4651.0,NaN,CL VEASEY,BLVD,75216.0,Code Compliance District Group,NaN,CLOSED,01/22/2014 04:20:00 PM,02/18/2014 11:46:00 AM,Phone,2498039.598,6941391.657,Zoning,"4651 CL VEASEY BLVD\nDallas, TX 75216",02/18/2014 01:05:00 PM
2,1115799618,14-00078509,4847.0,NaN,FRIO,DR,75216.0,Code Compliance District Group,NaN,CLOSED,03/12/2014 09:18:00 AM,03/07/2014 09:20:00 AM,Proactive,2492251.736,6937172.095,Zoning,"4847 FRIO DR\nDallas, TX 75216",03/07/2014 09:24:00 AM
3,1117018371,14-00097942,3411.0,NaN,FRIO,DR,75216.0,Code Compliance District Group,Litter - CCS,CLOSED,03/27/2014 11:32:00 AM,03/28/2014 08:30:00 AM,Phone,2489556.427,6943144.017,Nuisance,"3411 FRIO DR\nDallas, TX 75216",04/17/2014 08:49:00 AM
4,1114966857,14-00065535,NaN,NaN,33OO CEDAR CREST BLVD,NaN,75216.0,Code Compliance District Group,NaN,CLOSED,02/28/2014 01:11:00 PM,NaN,Proactive,0.000,0.000,Zoning,NaN,02/28/2014 01:15:00 PM

In [5]:
df.Type.value_counts()

Nuisance      526412
Zoning        116434
Structural     58888
Other          11264
Name: Type, dtype: int64

In [6]:
df.groupby('Type').count()

,Service Request ID,Service Request,Str Num,Str Prefix,Str Nam,Str Suffix,Zone,Department,Nuisance,Status,Created,Completed Date,Method Received Description,X_Value,Y_Value,Location,Updated
Type,,,,,,,,,,,,,,,,,
Nuisance,526412,526412,519852,70818,526407,518472,517892,526412,526412,526412,526412,395650,526412,526401,526401,519852,526412
Other,11264,11264,10869,1569,11264,10835,10951,11264,0,11264,11264,8803,11264,11264,11264,10869,11264
Structural,58888,58888,58665,7177,58887,58453,56026,58888,0,58888,58888,48301,58888,58887,58887,58665,58888
Zoning,116434,116434,103116,25069,116429,102697,109794,116434,0,116434,116434,89006,116434,116432,116432,103111,116434

In [7]:
df.Nuisance.value_counts()

High Weeds - CCS                                            114301
Litter -  CCS                                                93770
Obstruction Alley/Sidewalk/Street - CCS                      62052
Garage Sale Tracking - CCS                                   58431
Bulky Trash Violations - CCS                                 52794
Illegal Dumping - CCS                                        27190
Graffiti Abatement Request - CCS                             22746
Junk Motor Vehicle - CCS                                     22478
Illegal Outside Storage - CCS                                17011
Water Conservation Violation - CCS                           11263
Graffiti Private Property - Residential/Commercial - CCS     11117
Illegal Garbage/Placement - CCS                               9875
Garage Sale - CCS                                             9229
Noise Pollution - CCS                                         5443
Obstruction Corner Clip - CCS                                 1787
Dumpster Violation - CCS                                      1739
Oversized Vehicle - CCS                                       1704
Sidewalk Violations Hazardous - CCS                           1594
Rodents/Vector Control - CCS                                   557
Light Glare - CCS                                              432
Hand Bills/Fliers Complaint - CCS                              387
Graffiti Consent Form - CCS                                    380
Smoking/Restaurant Complaint - CCS                             100
Shopping Cart Decal Violation - CCS                             32
Name: Nuisance, dtype: int64

### Nuisance appears to be the primary column describing the nature of a violation. Because the other 'Types' only contain null values, filter only for type == nuisance.

In [9]:
#Filter out non-nuisance types. Alternatively, could rows w/ null values in column 'Nuisance'
df_nuis = df[df.Type == "Nuisance"].copy()
df_nuis.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526412 entries, 0 to 712996
Data columns (total 18 columns):
Service Request ID             526412 non-null int64
Service Request                526412 non-null object
Str Num                        519852 non-null float64
Str Prefix                     70818 non-null object
Str Nam                        526407 non-null object
Str Suffix                     518472 non-null object
Zone                           517892 non-null float64
Department                     526412 non-null object
Nuisance                       526412 non-null object
Status                         526412 non-null object
Created                        526412 non-null object
Completed Date                 395650 non-null object
Method Received Description    526412 non-null object
X_Value                        526401 non-null float64
Y_Value                        526401 non-null float64
Type                           526412 non-null object
Location                       519852 non-null object
Updated                        526412 non-null object
dtypes: float64(4), int64(1), object(13)
memory usage: 76.3+ MB

### Select columns with information we want to analyze

In [11]:
#COLS TO KEEP
cols = ['Service Request ID', 'Str Nam', 'Zone', 'Nuisance', 
        'Method Received Description', 'Created', 'Completed Date']
clean_df = df_nuis[cols].copy()
clean_df.head()

,Service Request ID,Str Nam,Zone,Nuisance,Method Received Description,Created,Completed Date
0,1114349086,FRIO,75216.0,Illegal Dumping - CCS,Phone,02/20/2014 12:11:00 PM,03/04/2014 10:31:00 AM
3,1117018371,FRIO,75216.0,Litter - CCS,Phone,03/27/2014 11:32:00 AM,03/28/2014 08:30:00 AM
7,1116675552,FRIO,75216.0,Illegal Dumping - CCS,Phone,03/24/2014 08:14:00 AM,05/15/2014 12:40:00 PM
9,1121347589,FRIO,75216.0,High Weeds - CCS,Phone,05/12/2014 09:55:00 AM,06/23/2014 03:31:00 PM
12,1121991684,FRIO,75216.0,High Weeds - CCS,Phone,05/17/2014 02:28:00 PM,06/26/2014 04:28:00 PM

In [12]:
#Convert to datetime
#clean_df['Created'] = pd.to_datetime(clean_df['Created'])
#clean_df['Completed Date'] = pd.to_datetime(clean_df['Completed Date'])
clean_df.loc[:,'Created'] = pd.to_datetime(clean_df['Created'])
clean_df.loc[:,'Completed Date'] = pd.to_datetime(clean_df['Completed Date'])

In [13]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526412 entries, 0 to 712996
Data columns (total 7 columns):
Service Request ID             526412 non-null int64
Str Nam                        526407 non-null object
Zone                           517892 non-null float64
Nuisance                       526412 non-null object
Method Received Description    526412 non-null object
Created                        526412 non-null datetime64[ns]
Completed Date                 395650 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 32.1+ MB

### Clean zipcodes that are typos to most likely Dallas zipcode. Dallas Zipcodes generally start with 75. Check values using .loc and replace/drop to clean.

In [14]:
clean_df.Zone.unique()

array([75216., 75217., 75236., 75218., 75223., 75224., 75231., 75232.,
       75233., 75234., 75237., 75240., 75241., 75243., 75244., 75246.,
       75248., 75252., 75253., 75287.,    nan, 75203., 75211., 75212.,
       75201., 75134., 75159., 75116., 75202., 75149., 75204., 75206.,
       75207., 75208., 75209., 75210., 75214., 75215., 75226., 75227.,
       75228., 75229., 75235., 75238., 75230., 75219., 75220., 75249.,
       75251., 75225., 75205., 75247., 75528., 76216., 75254., 75051.,
       72501., 75180., 75019., 75298., 75527., 75150., 65216., 75043.,
       75089., 75081., 76236., 75137., 76085., 75034., 76040., 75062.,
       75052., 97338., 75093., 75318., 75042., 78229., 75061., 75007.,
       76210., 75286., 75001., 75421., 76018., 45216., 77357., 75261.,
       76204., 75088., 55227., 75158., 75130., 75024., 75080., 75262.,
       75126., 75423., 99999., 75021., 75315., 65248., 85220., 74206.,
       76233., 65202., 76228., 72514., 75038., 28034., 75111., 74241.,
       75200., 75277., 75115., 76065., 75028., 78524., 75291., 75044.,
       45243., 75255., 75121., 74240., 75429., 74216., 75387., 75239.,
       77248., 75035., 75323., 75156., 75454., 76051., 79762., 75335.,
       75146., 75319., 75110., 75311., 75098., 75242., 85240., 75026.,
       78214., 75025., 76226., 76224., 75264., 75402., 76028., 75314.,
       85217., 75027., 76212., 78248., 72011., 85204., 76087., 76201.])

In [15]:
#Replace typos with correect zip
clean_df.loc[clean_df['Zone'] == 76216, 'Zone'] = 75216.0
clean_df.loc[clean_df['Zone'] == 65216, 'Zone'] = 75216.0
clean_df.loc[clean_df['Zone'] == 76236, 'Zone'] = 75236.0
clean_df.loc[clean_df['Zone'] == 76085, 'Zone'] = 75085.0
clean_df.loc[clean_df['Zone'] == 76040, 'Zone'] = 75040.0
clean_df.loc[clean_df['Zone'] == 78229, 'Zone'] = 75229.0
clean_df.loc[clean_df['Zone'] == 76210, 'Zone'] = 75210.0
clean_df.loc[clean_df['Zone'] == 45216, 'Zone'] = 75216.0
clean_df.loc[clean_df['Zone'] == 77357, 'Zone'] = 75357.0
clean_df.loc[clean_df['Zone'] == 76204, 'Zone'] = 75204.0
clean_df.loc[clean_df['Zone'] == 55227, 'Zone'] = 75227.0
clean_df.loc[clean_df['Zone'] == 65248, 'Zone'] = 75248.0
clean_df.loc[clean_df['Zone'] == 85220, 'Zone'] = 75220.0
clean_df.loc[clean_df['Zone'] == 74206, 'Zone'] = 75206.0
clean_df.loc[clean_df['Zone'] == 76233, 'Zone'] = 75233.0
clean_df.loc[clean_df['Zone'] == 65202, 'Zone'] = 75202.0
clean_df.loc[clean_df['Zone'] == 76228, 'Zone'] = 75228.0
clean_df.loc[clean_df['Zone'] == 74241, 'Zone'] = 75241.0
clean_df.loc[clean_df['Zone'] == 78524, 'Zone'] = 75524.0
clean_df.loc[clean_df['Zone'] == 45243, 'Zone'] = 75243.0
clean_df.loc[clean_df['Zone'] == 74240, 'Zone'] = 75240.0
clean_df.loc[clean_df['Zone'] == 74216, 'Zone'] = 75216.0
clean_df.loc[clean_df['Zone'] == 76051, 'Zone'] = 75051.0
clean_df.loc[clean_df['Zone'] == 85240, 'Zone'] = 75240.0
clean_df.loc[clean_df['Zone'] == 78214, 'Zone'] = 75214.0
clean_df.loc[clean_df['Zone'] == 76226, 'Zone'] = 75226.0
clean_df.loc[clean_df['Zone'] == 76224, 'Zone'] = 75224.0
clean_df.loc[clean_df['Zone'] == 76028, 'Zone'] = 75228.0
clean_df.loc[clean_df['Zone'] == 85217, 'Zone'] = 75217.0
clean_df.loc[clean_df['Zone'] == 76212, 'Zone'] = 75212.0
clean_df.loc[clean_df['Zone'] == 78248, 'Zone'] = 75248.0
clean_df.loc[clean_df['Zone'] == 72011, 'Zone'] = 75211.0
clean_df.loc[clean_df['Zone'] == 85204, 'Zone'] = 75204.0
clean_df.loc[clean_df['Zone'] == 76087, 'Zone'] = 75087.0
clean_df.loc[clean_df['Zone'] == 76201, 'Zone'] = 75201.0




# 97338.0 is Dallas, Oregon, so drop these values
clean_df = clean_df[clean_df['Zone'] != 97338.0]

#drop placeholder values, clearly wrong zips
clean_df = clean_df[clean_df['Zone'] != 28034.0]
clean_df = clean_df[clean_df['Zone'] != 99999.0]
clean_df = clean_df[clean_df['Zone'] != 79762.0]

In [21]:
#After plotting initial map, all low value zip codes are outside of Dallas. Remove all values below 100
zone_values = clean_df['Zone'].value_counts()
zone_remove = zone_values[zone_values < 100].index

76

In [23]:
clean_df = clean_df[~clean_df['Zone'].isin(zone_remove)]
clean_df['Zone'].nunique()

49

### Clean Methods so like events are combined

In [24]:
clean_df['Method Received Description'].value_counts()

Proactive                     328659
Phone                         100929
Web                            50701
Mobile Apps                    40682
Mass Entry                      4036
E-Mail                           276
311 IVR                          232
City Council Office              148
Radio                            144
City Hall on the GO              141
Police/Fire Dispatch              83
Other                             67
311 Dispatch Operators            18
Interdepartmental Referral        18
311 Community Agent                5
Voice Mail                         4
Townhall Meeting                   3
Walk In                            3
Open311                            2
Customer Service SR                1
Fax                                1
Mobile Device                      1
USPS                               1
City Manager's Office              1
Mail                               1
Name: Method Received Description, dtype: int64

In [25]:
clean_df.loc[clean_df['Method Received Description'] == 'E-Mail', 'Method Received Description'] = 'Web'
clean_df.loc[clean_df['Method Received Description'] == '311 IVR', 'Method Received Description'] = 'Phone'
clean_df.loc[clean_df['Method Received Description'] == 'City Council Office', 'Method Received Description'] = 'City Gov'
clean_df.loc[clean_df['Method Received Description'] == "City Manager's Office", 'Method Received Description'] = 'City Gov'
clean_df.loc[clean_df['Method Received Description'] == 'City Hall on the GO', 'Method Received Description'] = '311 Outreach'
clean_df.loc[clean_df['Method Received Description'] == 'Townhall Meeting', 'Method Received Description'] = '311 Outreach'
clean_df.loc[clean_df['Method Received Description'] == '311 Community Agent', 'Method Received Description'] = '311 Outreach'
clean_df.loc[clean_df['Method Received Description'] == 'Voice Mail', 'Method Received Description'] = 'Phone'
clean_df.loc[clean_df['Method Received Description'] == 'Mobile Device', 'Method Received Description'] = 'Mobile Apps'
clean_df.loc[clean_df['Method Received Description'] == 'Police/Fire Dispatch', 'Method Received Description'] = 'Interdepartmental Referral'
clean_df.loc[clean_df['Method Received Description'] == 'USPS', 'Method Received Description'] = 'Interdepartmental Referral'

In [26]:
clean_df['Method Received Description'].value_counts()

Proactive                     328659
Phone                         101165
Web                            50977
Mobile Apps                    40683
Mass Entry                      4036
311 Outreach                     149
City Gov                         149
Radio                            144
Interdepartmental Referral       102
Other                             67
311 Dispatch Operators            18
Walk In                            3
Open311                            2
Fax                                1
Mail                               1
Customer Service SR                1
Name: Method Received Description, dtype: int64

### Remove remaining types with value count less than 'Other'

In [27]:
#Save 'Other' count as variable
other_method_filter = clean_df.loc[clean_df['Method Received Description'] == 'Other',]['Method Received Description'].count()

In [28]:
#Save value counts to apply filter
method_values = clean_df['Method Received Description'].value_counts()

In [29]:
#Select values less than 'Other'
method_remove = method_values[method_values < other_method_filter].index
method_remove

Index(['311 Dispatch Operators', 'Walk In', 'Open311', 'Fax', 'Mail',
       'Customer Service SR'],
      dtype='object')

In [30]:
#Apply this filter to clean df
clean_df = clean_df[~clean_df['Method Received Description'].isin(method_remove)]
clean_df['Method Received Description'].value_counts()

Proactive                     328659
Phone                         101165
Web                            50977
Mobile Apps                    40683
Mass Entry                      4036
311 Outreach                     149
City Gov                         149
Radio                            144
Interdepartmental Referral       102
Other                             67
Name: Method Received Description, dtype: int64

In [32]:
clean_df['Nuisance'].value_counts()

High Weeds - CCS                                            114240
Litter -  CCS                                                93727
Obstruction Alley/Sidewalk/Street - CCS                      62030
Garage Sale Tracking - CCS                                   58422
Bulky Trash Violations - CCS                                 52768
Illegal Dumping - CCS                                        27158
Graffiti Abatement Request - CCS                             22731
Junk Motor Vehicle - CCS                                     22468
Illegal Outside Storage - CCS                                17004
Water Conservation Violation - CCS                           11260
Graffiti Private Property - Residential/Commercial - CCS     11104
Illegal Garbage/Placement - CCS                               9872
Garage Sale - CCS                                             9225
Noise Pollution - CCS                                         5426
Obstruction Corner Clip - CCS                                 1785
Dumpster Violation - CCS                                      1734
Oversized Vehicle - CCS                                       1704
Sidewalk Violations Hazardous - CCS                           1589
Rodents/Vector Control - CCS                                   555
Light Glare - CCS                                              432
Hand Bills/Fliers Complaint - CCS                              387
Graffiti Consent Form - CCS                                    380
Smoking/Restaurant Complaint - CCS                              98
Shopping Cart Decal Violation - CCS                             32
Name: Nuisance, dtype: int64

In [33]:
clean_df.sample(10)

,Service Request ID,Str Nam,Zone,Nuisance,Method Received Description,Created,Completed Date
591406,1278197292,BUTLER,75235.0,High Weeds - CCS,Proactive,2017-06-20 13:56:00,2017-06-19 14:13:00
212394,1111805892,WAVERLY,75208.0,Illegal Outside Storage - CCS,Proactive,2014-01-15 10:07:00,2014-01-16 14:02:00
61858,1104569307,PRUITT,75227.0,High Weeds - CCS,Proactive,2013-10-10 09:24:00,2013-10-09 09:29:00
395121,1221315821,STONEMAN,75215.0,High Weeds - CCS,Proactive,2016-07-28 15:20:00,2016-07-28 15:22:00
57519,1163330488,BOWMAN,75220.0,High Weeds - CCS,Proactive,2015-07-11 00:00:00,NaT
692530,1293898973,INWOOD,75209.0,High Weeds - CCS,Phone,2017-09-07 15:13:00,NaT
496058,1312549150,COLE,75204.0,Litter - CCS,Mobile Apps,2018-02-12 15:30:00,2018-02-14 14:03:00
535030,1247991183,HAVENDON,75203.0,Illegal Dumping - CCS,Mobile Apps,2017-01-29 13:45:00,2017-02-09 15:19:00
124658,1287422270,WHISPERING,75241.0,Bulky Trash Violations - CCS,Web,2017-07-31 01:23:00,NaT
658563,1105206428,HEMPHILL,75216.0,High Weeds - CCS,Phone,2013-10-17 11:47:00,2013-10-23 11:56:00

## Export to CSV

In [34]:
clean_df.to_csv(r'..\Resources\clean_violations.csv', index = False)